.add-product-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.add-product-form h2 {
    color: #333;
    font-weight: 600;
}